app/services/prompted_segmentation/weights/*
!app/services/prompted_segmentation/weights/.gitkeep

/app/services/prompted_segmentation/configs/*
!app/services/prompted_segmentation/configs/.gitkeep

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Flask / Python Environment Variables
.env
.env.local
*.ini
*.cfg

# Data Files
app.db
mlflow.db
mlruns/
sam_vit_b_01ec64.pth
data/*
!data/.gitkeep

# SAM2 Configuration Files
sam2*.yaml

# Pytest / Unittest
.coverage
htmlcov/
*.cover
.pytest_cache/
nosetests.xml
test-reports/

# VS Code / JetBrains / Editor-Specific Files
.vscode/
.idea/
*.iml

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Docker / Deployment
docker-compose.override.yml
*.dockerfile
*.dockerenv

# Logs & Debugging Files
logs/
*.log
debug.log

# SSH keys (for Docker build)
build_key
build_key*
/mlartifacts/
/mlartifacts/
/mlflow.db
